.recommendations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .recommendation-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .recommendation-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
 h3 {
    font-size: 20px;
  }
  
 h6 {
    font-size: 14px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  