h1 {
  color: rgba(128, 128, 128, 0.59);
  margin: 10px 0;
}

h4 {
  font-size: 18px;
  margin: 5px 0;
}

p {
  font-size: 16px;
  text-align: left;
}

.arrow {
  font-size: 50px;
  color: rgba(128, 128, 128, 0.59);
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  padding: 30px;
}

#dropdown {
  background-color: #f9f9f96e;
  min-width: 200px;
  border-radius: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  text-transform: capitalize;
  cursor: pointer;
}

#artistInput {
  background-color: #f9f9f96e;
  min-width: 300px;
  height: 45px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border: 1px solid black;
  border-radius: 6px;
}

#playlistName {
  display: block;
  margin-top: 10px;
  background-color: #f9f9f96e;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  padding: 12px 16px;
  z-index: 1;
  border: 1px solid black;
  border-radius: 6px;
}

.centerBtn {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50px;
  transition-duration: 0.4s;
  background-color: #FCFC62;
  color: black;  
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
  
.centerBtn:hover {
  background-color: #C9C9C9;
  color: black;
}
  
a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

.track-name {
  font-size: 18px;
  margin: 8px 0;
  }

.track-artist {
  font-size: 14px;
  text-align: center;
  margin: 5px 0;
}

.recommendations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.recommendation-item {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  height: 300px;
}

.recommendation-item img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}