.button1{
    color: black;
    background-color: #FCFC62;
    border-radius: 5px;
    font-weight: normal;
    font-size: large;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}