.playlist-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.playlist-item {
    border: 1px solid #ccc;
    background-color: #FEFFFA;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-item:hover {
    transform: scale(1.01);
}

.playlist-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-cover img {
    width: 100%; 
    height: auto; 
}

.playlist-cover h2 {
    margin: 0;
    font-size: 20px; 
    text-align: center;
    padding: 10px 0 10px 0;
}

.tracks {
    margin-top: 10px;
}

.track-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.track-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.track-item .track-details {
    flex-grow: 1;
}

.track-item .track-name {
    font-size: 16px;
    margin: 0;
}

.track-item h6 {
    font-size: 14px;
    margin: 0;
}

.track-item a {
    font-size: 14px;
    margin-left: 10px;
}

.createBtn {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 50px;
    transition-duration: 0.4s;
    background-color: #FCFC62;
    color: black;  
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.createBtn:hover {
    background-color: #C9C9C9;
    color: black;
}

.seeAll {
    border: none;
    background: none;
    color: blue;
    margin-top: 2%;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.seeAll:hover {
    color: #A3A3A3;
}